extends ../layout

block content
    h1 Atualizar Usuário
    hr
    br
    form(method="POST", action="/usuarios/edit/#{dados._id}", role="form")
        .container
            .panel.panel-primary
                .panel-heading
                    h4 Dados do Paciente
                .panel-body       
                    .row 
                        .col-md-6.mb-6
                            label(for='nome') Nome
                            input#nome.form-control(type='text', name="nome", value="#{dados.nome}", placeholder='Informe o nome do paciente', autofocus)
                        .col-md-6.mb-6
                            label(for='cpf') CPF
                            input#cpf.form-control(type='text', name="cpf", value="#{dados.cpf}", placeholder="Informe o CPF")
                        .col-md-6.mb-6
                            label(for='dataNascimento') Data Nascimento
                            input#dataNascimento.form-control(type='text', name="dataNascimento", value="#{dados.dataNascimento}", placeholder="dd/mm/aaaa")
                        .col-md-6.mb-6
                            label(for='email') Email
                            input#email.form-control(type='text', name="email", value="#{dados.email}", placeholder="E-mail")
                        .col-md-6.mb-6
                            label(for='telefone') Telefone
                            input#telefone.form-control(type='text', name="telefone", value="#{dados.telefone}", placeholder="Telefone")
                .panel-footer(style='text-align: center;')
                    input.btn.btn-success(type='submit', value='Salvar', name='salvar')
                    a.btn.btn-success(href='/usuarios') Voltar