extends ../layout

block content
    .container
        .panel.panel-primary
            .panel-heading
                h2.text-muted Usuarios
            .panel-body 
            if lista.length > 0
                .table-responsive
                    table.table
                        thead
                            tr
                                //th ID:
                                th Nome:
                                th CPF:
                                th Data Nascimento:
                                th Email:
                                th Telefone:
                                th Data Castrado:
                        tboddy
                            each valor in lista
                                tr
                                    //td #{valor._id}
                                    td #{valor.nome}
                                    td #{valor.cpf}
                                    td #{valor.dataNascimento}
                                    td #{valor.email}
                                    td #{valor.telefone}
                                    td #{moment(valor.data_cad).format('DD/MM/YYYY HH:MM:ss')}
                                    td 
                                        a.btn.btn-info(href="/usuarios/show/#{valor._id}")
                                            span.glyphicon.glyphicon-search
                                        span   
                                        a.btn.btn-primary(href="/usuarios/edit/#{valor._id}")
                                            span.glyphicon.glyphicon-pencil
                .panel-footer(style='text-align: center;')
                    a.btn-lg.btn-success(href="/usuarios/create") Cadastrar
            else
                p Nenhum registro encontrado !